/* PC、スマホ共通スタイル */
body {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 34px;
  padding: 30px 0 20px 0;
  margin: 20px 0;
  text-align: center;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
}
a {
  margin: 0 10px;
  padding: 0 20px;
}
.carousel {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.carouselImg {
  width: 100%;
}

#back-btn {
  display: none;

  text-align: center;
  padding: 28px 24px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 50%;

  position: fixed;
  bottom: 38px;
  right: 20px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s 0s ease;
}
.fadeIn {
  opacity: 1;
  visibility: visible;
}

.works-img:hover {
  opacity: 70%;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

#modal > img {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-width: 800px;
}

#closeBtn {
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 40px;
  text-decoration: none;
}
#closeBtn:hover {
  opacity: 70%;
}

.modalHidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s 0s ease;
}
.modalFadeIn {
  opacity: 1;
  visibility: visible;
}

/*================
 PC用のスタイル 
=================*/
@media screen and (min-width: 768px) {
  /* 横幅設定 */
  body {
    margin: 0 auto 0 auto;
  }
  
  /* ヘッダー */
  #header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    font-size: 34px;
    margin: 0 20px;
    flex-wrap: wrap;
  }
  #home {
    padding: 20px 10px;
    margin: 10px;
    
  }
  #myprofile {
    text-decoration: none;
    border: solid 1px black;
    font-weight: bold;
  }
  #myprofile:link {
    color: black;
  }
  #myprofile:visited{
    color: black;
  }
  #myprofile:active {
    color: black;
  }
  #nav-pc {
    padding: 20px 10px;
    margin: 10px;
    font-weight: bold;
  }
  #nav-pc > a {
    text-decoration: none;
  }
  #nav-pc > a:link {
    color: black;
  }
  #nav-pc > a:visited {
    color: black;
  }
  #nav-pc > a:active {
    color: black;
  }
  #nav-sp {
    display: none;
  }

  /* アバウト */
  #about-content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #about-img {
    width: 50%;
    margin: 0 0 30px 50px;
  }
  #about-img > img {
    width: 100%;
    border-radius: 50%;
    max-width: 300px;
    border: solid 3px #999;
    padding: 3px;
  }
  #about-text {
    width: 50%;
    margin: 30px 0 30px 0;
    text-align: left;
  }

  /* ワークス */
  #works-content {
    max-width: 1200px;
    text-align: left;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #works1, #works2, #works3 {
    margin: 10px;
    width: 20%;
    text-align: center;
  }
  .works-img {
    padding: 0;
    margin: 10px;
    width: 100%;
    transition: all 0.5s 0s ease;
  }

  /* コピーライト */
  #footer {
    margin: 20px;
  }
}

/*================
 スマホ用のスタイル 
=================*/
@media screen and (max-width: 767px) {
  /* 横幅設定 */
  body {
    margin: 0 auto 0 auto;
  }
  
  /* ヘッダー */
  #header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 34px;
    margin: 20px;
  }
  #nav-sp {
    margin: 0 10px;
    font-weight: bold;
    display: inline;
  }
  #nav-pc {
    display: none;
  }
  
  #myprofile {
    text-decoration: none;
    border: solid 1px black;
    font-weight: bold;
  }
  #myprofile:link {
    color: black;
  }
  #myprofile:visited{
    color: black;
  }
  #myprofile:active {
    color: black;
  }
  #nav-sp > a {
    text-decoration: none;
  }
  #nav-sp > a:link {
    color: black;
  }
  #nav-sp > a:visited {
    color: black;
  }
  #nav-sp > a:active {
    color: black;
  }


  /* アバウト */
  #about {
    display: block;
    text-align: center;
    margin: 0 auto;
    transition: opacity 1s,visibility 1s;
  }
  #about-img > img {
    margin: 20% auto 0 auto;
    border-radius: 50%;
    border: solid 3px #999;
    padding: 3px;
  }
  #about-content {
    text-align: left;
    text-wrap: wrap;
    margin: 0 auto 0 10%;
  }

  /* ワークス */
  #works {
    text-align: left;
    display: block;
    transition: opacity 1s,visibility 1s;
  }
  #works1, #works2, #works3 {
    margin: 20px auto;
    width: 90%;
    text-align: center;
  }
  .works-img {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    transition: all 0.5s 0s ease;
  }

  /* コピーライト */
  #footer {
    margin: 20px;
  }
}